/**
 * main.css
 * alpha 0.1
 */
body { font-family: Arial, sans-serif; font-size: 14px; color: black; background-color: white; }
header {
	border-bottom: 1px solid #E0E0E0;

	-webkit-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1);
	   -moz-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1);
	        box-shadow: 0px 3px 10px 0px rgba(224,224,224,1);
}
nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#box-logo { /* background-color: tomato; */ width: 144px; }
#box-time { background-color: blue; width: 144px; background-color: #8CBF40; 
	border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 10px 0px 10px;
	-webkit-border-radius: 0px 10px 0px 10px;
	border: 0px solid #8CBF40;
	padding: 12px 0px 12px 24px;
}
#box-login { background-color: green; width: 144px; background-color: #8CBF40; 
	border-radius: 10px 0px 10px 0px;
	-moz-border-radius: 10px 0px 10px 0px;
	-webkit-border-radius: 10px 0px 10px 0px;
	border: 0px solid #8CBF40;
	padding: 12px 0px 12px 24px;
}
@media screen and (min-width: 181px) {
	nav { flex-direction: row ; flex-wrap: wrap; }
	#box-logo { flex-basis: 100%; };
}
@media screen and (min-width: 601px) {
	#box-time { order: -1; }
	#box-logo { flex-basis: auto; };
}
